.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  width:  60vw;
  margin: 0 auto;

  padding: 20px;
  color: white;
}



.App-main {
  font-size: large;
  margin-top:  20vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60vw;
  min-height: 5vh;
  border: 3px solid grey;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
